{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan de vacunación</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="title">
            CONSULTA TU CENTRO DE VACUNACIÓN
        </div>
        <div class="card">
            <div class="text">
                <label for="cedula">Cédula</label>
                <input class="cedula" id="cedula" type="text" placeholder="Cédula*" maxlength="10">
            </div>
            <div class="text">
                <label for="nombres">Nombres</label>
                <input class="nombres" id="nombres" type="text" placeholder="Ejem. Juan Jacinto Gonzales Moreira">
            </div>
            <div class="term">
                <p>Recuerda las medidas de bioseguridad.Usa mascarilla y mantén la distancia de dos metros con otras
                    personas.</p>
                <p>Infórmate por medios oficiales y sigue las recomendaciones dada por el ministerio de salud.</p>
            </div>
            <div class="button">
                <button type="button" id="consulta" class="btn">Consulta</button>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-content">
            <div>
                <p><strong>Nombre: </strong><span id="nombre">Henry Heriberto Pérez Muñoz</span></p>
                <p><strong>Provincia: </strong><span id="canton">Quinsaloma</span></p>
                <p><strong>Cantón: </strong><span id="parroquia">Quinsaloma</span></p>
                <p><strong>Centro de vacunación: </strong><span id="centro">Unidad Educativa 16 de Mayo</span></p>
                <p><strong>Dirección: </strong><span id="direccion">16 de Mayo y San Francisco - Quinsaloma</span></p>
                <p><strong>Primera dosis: </strong><span id="pr-dosis">VACUNADO/A (PFIZER)</span></p>
                <p><strong>Segunda dosis: </strong><span id="sc-dosis">VIERNES, 27 DE AGOSTO DE 2021
                        (13:00-17:00)</span></p>
            </div>
            <div class="button">
                <button type="button" id="aceptar" class="btn">Aceptar</button>
            </div>
        </div>
    </div>

    <script src="{% static 'js/modal.js' %}"></script>

</body>

</html>